# Web Scrape NBA Game Data

In [1]:
# Import dependencies
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.support.ui import Select

ModuleNotFoundError: No module named 'webdriver_manager'

In [95]:
# Create a Web Driver Object
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 102.0.5005
Get LATEST chromedriver version for 102.0.5005 google-chrome
Driver [C:\Users\jcbat\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache
C:\Users\jcbat\AppData\Local\Temp\ipykernel_26636\3394343163.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

## Pull Regular Season Data

In [96]:
# Connect to the website
driver.get(url="https://www.nba.com/stats/teams/boxscores/?Season=2021-22&SeasonType=Regular%20Season")

In [97]:
# Select the drop down element
select = Select(driver.find_element_by_class_name("stats-table-pagination__select"))

C:\Users\jcbat\AppData\Local\Temp\ipykernel_26636\1759048708.py:2: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  select = Select(driver.find_element_by_class_name("stats-table-pagination__select"))

In [98]:
# Select the "ALL" option, which is Index 0
select.select_by_index(0)

In [99]:
# Read the table on the webpage
tbl = driver.find_element_by_tag_name("table").get_attribute('outerHTML')

C:\Users\jcbat\AppData\Local\Temp\ipykernel_26636\319274737.py:2: DeprecationWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  tbl = driver.find_element_by_tag_name("table").get_attribute('outerHTML')

In [100]:
# Convert the table (list) into a DataFrame
result = pd.read_html(tbl)

In [101]:
# Pull the table into a DataFrame
table_df = result[0]
table_df

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,PF,+/-
0,CHI,CHI @ MIN,04/10/2022,NaN,W,240,124,44,83,53.0,...,78.8,16,32,48,22,9,3,23,22,4
1,MIN,MIN vs. CHI,04/10/2022,NaN,L,240,120,46,91,50.5,...,77.3,9,23,32,30,7,9,13,23,-4
2,PHI,PHI vs. DET,04/10/2022,NaN,W,240,118,46,88,52.3,...,91.3,10,32,42,25,13,6,11,23,12
3,DET,DET @ PHI,04/10/2022,NaN,L,240,106,38,83,45.8,...,65.5,15,27,42,26,4,4,20,16,-12
4,BOS,BOS @ MEM,04/10/2022,NaN,W,240,139,54,99,54.5,...,100.0,14,42,56,34,5,2,15,20,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,IND,IND @ CHA,10/20/2021,NaN,L,240,122,42,90,46.7,...,87.5,8,43,51,29,2,10,17,24,-1
2456,BKN,BKN @ MIL,10/19/2021,NaN,L,240,104,37,84,44.0,...,56.5,5,39,44,19,3,9,13,17,-23
2457,MIL,MIL vs. BKN,10/19/2021,NaN,W,240,127,48,105,45.7,...,77.8,13,41,54,25,8,9,8,19,23
2458,GSW,GSW @ LAL,10/19/2021,NaN,W,240,121,41,93,44.1,...,83.3,9,41,50,30,9,2,17,18,7
2459,LAL,LAL vs. GSW,10/19/2021,NaN,L,240,114,45,95,47.4,...,47.4,5,40,45,21,7,4,18,25,-7

In [102]:
# Drop unnecessary columns
table_df = table_df.drop(['Match\xa0Up', 'Game\xa0Date', 'Season', 'W/L', 'FG%', '3P%', 'FT%'], axis=1)

In [103]:
# Rename the columns to match the database schema
table_df = table_df.rename(columns={"Team":"team"})
table_df = table_df.rename(columns={"MIN":"min", "PTS":"pts", "FGM":"fgm"})
table_df = table_df.rename(columns={"FGA":"fga", "3PM":"threepm", "3PA":"threepa", "FTM":"ftm", "FTA":"fta"})
table_df = table_df.rename(columns={"OREB":"oreb", "DREB":"dreb", "REB":"reb", "AST":"ast", "STL":"stl"})
table_df = table_df.rename(columns={"BLK":"blk", "TOV":"tov", "PF":"pf", "+/-":"point_diff"})

In [104]:
# Export the dataframe into a CSV file
table_df.to_csv("NBA_Data_Reg_Season_2022.csv")

## Pull Play-In Data

In [125]:
# Connect to the website
driver.get(url="https://www.nba.com/stats/teams/boxscores/?Season=2021-22&SeasonType=PlayIn")

In [126]:
# Read the table on the webpage
tbl = driver.find_element_by_tag_name("table").get_attribute('outerHTML')

C:\Users\jcbat\AppData\Local\Temp\ipykernel_26636\319274737.py:2: DeprecationWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  tbl = driver.find_element_by_tag_name("table").get_attribute('outerHTML')

In [127]:
# Convert the table (list) into a DataFrame
result = pd.read_html(tbl)

In [128]:
# Pull the table into a DataFrame
table_df = result[0]
table_df

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,PF,+/-
0,ATL,ATL @ CLE,04/15/2022,NaN,W,240,107,39,80,48.8,...,90.9,10,32,42,15,5,3,13,19,6
1,CLE,CLE vs. ATL,04/15/2022,NaN,L,240,101,37,81,45.7,...,82.4,8,28,36,23,8,4,14,20,-6
2,NOP,NOP @ LAC,04/15/2022,NaN,W,240,105,43,88,48.9,...,52.0,17,37,54,20,2,3,9,26,4
3,LAC,LAC vs. NOP,04/15/2022,NaN,L,240,101,35,85,41.2,...,64.7,12,33,45,20,7,3,8,21,-4
4,ATL,ATL vs. CHA,04/13/2022,NaN,W,240,132,49,94,52.1,...,72.0,12,42,54,31,5,6,12,25,29
5,NOP,NOP vs. SAS,04/13/2022,NaN,W,240,113,44,81,54.3,...,73.9,8,45,53,25,4,7,14,22,10
6,SAS,SAS @ NOP,04/13/2022,NaN,L,240,103,37,91,40.7,...,72.7,8,26,34,19,4,3,6,20,-10
7,CHA,CHA @ ATL,04/13/2022,NaN,L,240,103,34,90,37.8,...,75.9,11,30,41,22,4,4,14,24,-29
8,CLE,CLE @ BKN,04/12/2022,NaN,L,240,108,41,92,44.6,...,85.0,10,30,40,26,9,2,15,21,-7
9,LAC,LAC @ MIN,04/12/2022,NaN,L,240,104,34,78,43.6,...,74.1,7,32,39,19,5,5,17,28,-5
10,BKN,BKN vs. CLE,04/12/2022,NaN,W,240,115,45,84,53.6,...,66.7,10,33,43,33,9,9,14,20,7
11,MIN,MIN vs. LAC,04/12/2022,NaN,W,240,109,36,83,43.4,...,62.2,12,37,49,19,10,2,13,26,5

In [129]:
# Drop unnecessary columns
table_df = table_df.drop(['Match\xa0Up', 'Game\xa0Date', 'Season', 'W/L', 'FG%', '3P%', 'FT%'], axis=1)

In [130]:
# Rename the columns to match the database schema
table_df = table_df.rename(columns={"Team":"team"})
table_df = table_df.rename(columns={"MIN":"min", "PTS":"pts", "FGM":"fgm"})
table_df = table_df.rename(columns={"FGA":"fga", "3PM":"threepm", "3PA":"threepa", "FTM":"ftm", "FTA":"fta"})
table_df = table_df.rename(columns={"OREB":"oreb", "DREB":"dreb", "REB":"reb", "AST":"ast", "STL":"stl"})
table_df = table_df.rename(columns={"BLK":"blk", "TOV":"tov", "PF":"pf", "+/-":"point_diff"})

In [131]:
# Export the dataframe into a csv file
table_df.to_csv("NBA_Data_Play_In_2022.csv")

## Pull Playoff Data

In [116]:
# Connect to the website
driver.get(url="https://www.nba.com/stats/teams/boxscores/?Season=2021-22&SeasonType=Playoffs")

In [117]:
# Select the drop down element
select = Select(driver.find_element_by_class_name("stats-table-pagination__select"))

C:\Users\jcbat\AppData\Local\Temp\ipykernel_26636\4141449579.py:2: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  select = Select(driver.find_element_by_class_name("stats-table-pagination__select"))

In [118]:
# Select the "ALL" option, which is Index 0
select.select_by_index(0)

In [119]:
# Read the table on the webpage
tbl = driver.find_element_by_tag_name("table").get_attribute('outerHTML')

C:\Users\jcbat\AppData\Local\Temp\ipykernel_26636\319274737.py:2: DeprecationWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  tbl = driver.find_element_by_tag_name("table").get_attribute('outerHTML')

In [120]:
# Convert the table (list) into a DataFrame
result = pd.read_html(tbl)

In [121]:
# Pull the table into a DataFrame
table_df = result[0]
table_df

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,PF,+/-
0,GSW,GSW @ BOS,06/08/2022,NaN,NaN,0,11,5,16,31.3,...,-,1,2,3,2,1,2,2,5,-15
1,BOS,BOS vs. GSW,06/08/2022,NaN,NaN,0,26,10,15,66.7,...,50.0,3,10,13,7,1,1,3,1,15
2,GSW,GSW vs. BOS,06/05/2022,NaN,W,240,107,39,86,45.3,...,70.0,6,36,42,25,15,2,12,17,19
3,BOS,BOS @ GSW,06/05/2022,NaN,L,240,88,30,80,37.5,...,76.5,6,37,43,24,5,7,19,18,-19
4,GSW,GSW vs. BOS,06/02/2022,NaN,L,240,108,39,88,44.3,...,73.3,12,27,39,24,8,6,14,16,-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,UTA,UTA @ DAL,04/16/2022,NaN,W,240,99,36,83,43.4,...,87.0,13,40,53,15,3,5,14,25,6
164,MEM,MEM vs. MIN,04/16/2022,NaN,L,240,117,39,86,45.3,...,74.4,8,27,35,25,7,8,12,24,-13
165,MIN,MIN @ MEM,04/16/2022,NaN,W,240,130,45,90,50.0,...,88.9,11,35,46,32,5,7,19,32,13
166,GSW,GSW vs. DEN,04/16/2022,NaN,W,240,123,43,82,52.4,...,72.4,10,31,41,33,5,8,13,22,16
167,DEN,DEN @ GSW,04/16/2022,NaN,L,240,107,43,93,46.2,...,76.9,9,26,35,26,8,3,11,22,-16

In [122]:
# Drop unnecessary columns
table_df = table_df.drop(['Match\xa0Up', 'Game\xa0Date', 'Season', 'W/L', 'FG%', '3P%', 'FT%'], axis=1)

In [123]:
# Rename the columns to match the database schema
table_df = table_df.rename(columns={"Team":"team"})
table_df = table_df.rename(columns={"MIN":"min", "PTS":"pts", "FGM":"fgm"})
table_df = table_df.rename(columns={"FGA":"fga", "3PM":"threepm", "3PA":"threepa", "FTM":"ftm", "FTA":"fta"})
table_df = table_df.rename(columns={"OREB":"oreb", "DREB":"dreb", "REB":"reb", "AST":"ast", "STL":"stl"})
table_df = table_df.rename(columns={"BLK":"blk", "TOV":"tov", "PF":"pf", "+/-":"point_diff"})

In [124]:
# Export the dataframe into a csv file
table_df.to_csv("NBA_Data_Playoffs_2022.csv")